body, body.light-mode, body.dark-mode {
    margin: 0;
    font-family: 'Arial', sans-serif;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
    color: var(--primary-text-color); /* Use CSS variable for text color */
}

body.dark-mode {
    background-color: black; /* Dark background color */
	color: white;
}
body.dark-mode #settingsForm {
    background-color: black; /* Dark background color */
	color: white;
}
body.dark-mode #backicon {
	filter: invert(100%);
}

body.light-mode, #settingsForm {
    background-color: white; /* Light background color */
    color: black; /* Text color for light mode */
}

#logo-container,
#whitelogo-container {
    position: relative;
    margin-bottom: 80px;
    top: -15px;
}

#logo-container {
    text-align: center;
    padding: 0px;
}

#logo {
    width: 300px;
    height: 100px;
    display: block;
    margin: auto;
}
#backicon {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 20px;
    height: 20px;
}


.header {
    padding-top: 0.5px;
    text-align: center;
}

#versionInfo, #authorInfo {
    position: absolute;
    font-size: 12px;
    color: #666;
}

#versionInfo {
    bottom: 1px;
    left: 3px;
}

#authorInfo {
	text-decoration: underline;
    bottom: 1px;
    right: 3px;
}

#settingsForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

.outline-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid black; /* Change the color as needed */
    border-radius: 4px;
    color: black;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black; /* Set text color to black */
}

input[type="submit"] {
    display: inline-block;
    padding: 12px 9px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-bg-color); /* Use CSS variable for background color */
    color: #8A2BE2;
    border: 2px solid #8A2BE2;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 5px;
}

input[type="submit"]:hover {
    background-color: #bc78f6;
}

.upload-container {
    display: flex;
    align-items: center;
}

.switch {
    margin-left: 10px; /* Adjust the margin as needed */
}
