body {
	--primary-bg-color: #FFFFFF;
	--primary-text-color: white;
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #FFFFFF;
	color: white;
	opacity: 0.95;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	width: 100%;
}
body.light-mode {
	/* Light mode styles */
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #FFFFFF;
	color: white;
	opacity: 0.95;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	width: 100%;
}
body.dark-mode {
	/* Dark mode styles */
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #000000;
	opacity: 0.95;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	width: 100%;
}
#logo-container {
	position: relative;
	margin-bottom: 10px;
	top: 10px;
}
#logo,#logo2 {
	width: 450px;
	height: 100px;
}
#logo2 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
#whitelogo-container {
	position: relative;
	margin-bottom: 10px;
	top: 10px;
}
#wlogo,#wlogo2 {
	width: 450px;
	height: 100px;
}
#wlogo2 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
#darklight-mode {
	position: relative;
	/* Change to relative so that #dark and #light are positioned relative to this container */
	margin-bottom: 10px;
}
#dark,#light {
	position: absolute;
}
#dark {
	top: 5px;
	position: fixed;
	right: 4px;
	width: 25px;
	height: 25px;
}
#light {
	position: fixed;
	top: 5px;
	right: 4px;
	width: 25px;
	height: 25px;
}
#miniLogo {
	position: absolute;
	top: 8px;
	left: 10px;
	width: 25px;
	height: 25px;
}
.header {
	padding-top: 0.5px;
	text-align: center;
}
#versionInfo,#authorInfo {
	position: absolute;
	font-size: 12px;
	color: #666;
}
#versionInfo {
	bottom: 1px;
	left: +3px;
}
#authorInfo {
	text-decoration: underline;
	bottom: 1px;
	right: +3px;
}
.header h2 {
	font-size: 15px;
	font-family: 'GILC', sans-serif;
}
.button {
	border: 2px solid #8A2BE2;
	color: #BB33FF;
	display: inline-block;
	padding: 12px 24px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 8px;
	position: relative;
	text-decoration: none;
	transition: 0.2s transform ease-in-out;
	will-change: transform;
	z-index: 0;
}
}
.button:hover::after {
transform: translate(0, 0);
}
.button:hover {
border: 2px solid transparent;
color: indigo;
transform: scale(1.05);
will-change: transform;
}
#downloadButton {
background-color: #8A2BE2;
border: 2px solid #ddd;
color: #DFD9E2;
}
#downloadButton:hover {
background-color: #8A2BE2;
}
#downloadButton:disabled {
background-color: #ddd;
color: #8A2BE2;
border: 2px solid #ddd;
cursor: not-allowed;
}
#vid-container {
max-width: 100%;
max-height: 500px;
height: auto;
margin: 20px auto;
/* Center the container horizontally */
display: flex;
flex-wrap: wrap;
/* Allow images to wrap to the next line */
justify-content: flex-start;
/* Align images to the start of the container */
gap: 10px;
/* Add spacing between images */
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
.image-row {
display: flex;
/* Make the row a flex container */
flex-wrap: nowrap;
/* Ensure images don't wrap within the row */
}
#outputImage {
max-width: 250px;
max-height: 250px;
height: auto;
margin-top: 20px;
display: none;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
#outputImage:hover {
transform: scale(1.2);
}
.disabledText {
color: #000;
pointer-events: none;
}
.chooseFileButton {
display: inline-block;
padding: 12px 9px;
font-size: 18px;
font-weight: bold;
text-align: center;
text-decoration: none;
background-color: #FFFFFF;
color: #8A2BE2;
border: 2px solid #8A2BE2;
border-radius: 8px;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
margin-top: 5px;
}
.chooseFileButton:hover {
background-color: #bc78f6;
}
#fileInput {
display: none;
}
label {
display: inline;
color: #8A2BE2;
cursor: pointer;
margin-top: 5px;
margin-right: 5px;
}
@keyframes erase {
from {
	transform: scaleX(1);
}
to {
	transform: scaleX(0);
}
}
@keyframes type {
from {
	transform: scaleX(0);
}
to {
	transform: scaleX(1);
}
}
.fadeOut {
opacity: 0;
transition: opacity 0.5s ease-out;
}
.erase {
transform-origin: top left;
animation: erase 0.5s forwards;
}
.type {
transform-origin: top right;
animation: type 0.6s forwards;
}
.dark-mode-text {
color: white;
}
}
.display-text {
color: green;
}
.ad-panel-left, .ad-panel-right {
width: 200px;
/* Adjust width as needed */
height: 400px;
/* Adjust height as needed */
margin: 10px;
/* Adjust margin as needed */
padding: 10px;
/* Adjust padding as needed */
position: fixed;
top: 50%;
transform: translateY(-50%);
/* Add additional styling as needed */
}
.ad-panel-left {
left: 0;
}
.ad-panel-right {
right: 0;
}
/* Dark mode styles for ad panels */
.dark-mode .ad-panel-left, .dark-mode .ad-panel-right {
background-color: #000000;
/* Example dark mode background color */
color: #ddd;
/* Example dark mode text color */
}
/* Light mode styles for ad panels */
.light-mode .ad-panel-left, .light-mode .ad-panel-right {
background-color: white;
/* Example light mode background color */
color: #333;
/* Example light mode text color */
}
.bottom-text {
position: fixed;
bottom: 20px;
/* Adjust vertical position as needed */
left: 50%;
transform: translateX(-50%);
text-align: center;
font-size: 16px;
color: #333;
/* Add additional styling as needed */
}
/* Dark mode styles for bottom text */
.dark-mode .bottom-text {
color: #ddd;
/* Example dark mode text color */
}
/* Light mode styles for bottom text */
.light-mode .bottom-text {
color: #333;
/* Example light mode text color */
}
#console-title {
font-size: 18px;
top: 0px;
margin-bottom: 10px;
color: white;
/* Change this color to match your theme */
text-align: center;
}
.fallout-console {
position: fixed;
top: 0;
left: 0;
width: 30%;
/* 30% slimmer */
height: 60%;
/* 40% shorter */
background-color: rgba(0, 0, 0, 0.8);
/* Adjust opacity as needed */
color: #ffffff;
/* White text color */
font-family: 'Courier New', Courier, monospace;
display: none;
/* Start hidden */
border: 2px solid #BB33FF;
box-sizing: border-box;
/* Ensure border width is included in the width calculation */
z-index: 9999;
/* Ensure the console is on top of other elements */
padding: 20px;
}
.console-output {
max-height: calc(100% - 80px);
/* Adjust the maximum height as needed */
overflow-y: auto;
}
.console-input {
width: calc(100% - 20px);
/* Adjust the width to accommodate padding */
background-color: transparent;
border: none;
color: #ffffff;
/* White text color */
outline: none;
margin-top: 10px;
}
.formatSelect {
position: absolute;
}
#title-container {
            text-align: center;
            margin: 10px 0;
            position: absolute;
            top: 10px;
            width: 100%;
            font-family: Arial, Helvetica, sans-serif; /* Apply a more professional font */
        }
        .title-link {
            margin: 0 10px;
            font-size: 14px; /* Smaller font size */
            font-weight: bold;
            color: #8A2BE2;
            cursor: pointer;
			text-decoration: none;
            padding: 5px;
            border: 2px solid #8A2BE2; /* Outline the text */
            border-radius: 4px;
            text-decoration-thickness: 2px; /* Increase the thickness of the underline */
        }
        .title-link:hover {
            background-color: #8A2BE2;
            color: #FFFFFF;
        }
        #audioConverter {
            color: #202020; /* Different color for Image Converter */
            border-color: #202020; /* Match border color */
			border: none;
			padding: 8px;
			font-weight: bold;
        }
        #vidConverter {
            margin: 0 10px;
            font-size: 14px; /* Smaller font size */
            font-weight: bold;
            color: #8A2BE2;
            cursor: pointer;
			text-decoration: none;
            padding: 5px;
            border: 2px solid #8A2BE2; /* Outline the text */
            border-radius: 4px;
            text-decoration-thickness: 2px;
        }
		body.dark-mode #audioConverter {
            color: white;
        }